body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
h1 {
    color: #333;
}
.buttons {
    margin-top: 20px;
}
.buttons a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
.buttons a:hover {
    background-color: #2980b9;
}
.button {
    margin-top: 20px;
}
button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 3px;
}
button:hover {
    background-color: #2980b9;
}
.button a {
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c;
    padding: 10px 15px;
    border-radius: 3px;
}
.button a:hover {
    background-color: #c0392b;
}
